<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' href='../static/layout.css'>
        <link rel='stylesheet' href='../static/page1.css'>
        <link rel='stylesheet' href='../static/page2.css'>
        <link rel='stylesheet' href='../static/page3.css'>
        <link rel='stylesheet' href='../static/upload.css'>
        <title>マリーさんにおまかせ！！</title>
    </head>

    <body style="background-color:black;">        
        <div class="sample_box12">
            <div class="sample_box12_tape"> </div>
            <h2 class="sample_box12_title">マリーさんにおまかせ！！</h2>
        </div>

        <div class="image">
            <img src="../static/marieimg.png" width=30% height=auto >
        </div>

        <div class="box">
            <div class="comment">
                {% block content %}{% endblock %}
            </div>

        </div>              

    </body>

</html> 